html {
    height: 100%;

}

main {
    flex: 1;
    height: 100%;
    text-align: center;
}

main h3{
    font-size: 1.75rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(5, 69, 71);
}

.container {
    color:cadetblue;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.header h1{
    font-size: 5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    margin-top: 0;
    color:cadetblue;
}

.container p {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 7px;
    color: rgb(38, 147, 152);
}

body{
    background-color:cornsilk;
}

.consistancy{
    text-align: center;
}

.consistancy h3{
    font-size: 1.75rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(5, 69, 71);
}

section h4{
    color:gold;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin-bottom: 40px;
}


.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;


}
.menu{
    justify-content: center;
    margin: 0;
    padding: 15px;
    display: flex;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    z-index: 9999;

}
.menu li {
    margin: 0 10px;
    font-size: 1.25rem;
    text-align: center;

}

.menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: color 0.3s;
}

.menu li a:hover {
    color:cadetblue;
}


.column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.log {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    margin: 0.5rem;
  }
  .log p{
    padding: 0.5rem 0.5rem;
  }

  .log-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

